<%= form_with(model: task, local: true) do |f| %>
  <div class="error-container">
    <% if @task.errors.any? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-left">
          <% @task.errors.full_messages.each do |message| %>
            <p><%=message%></p>
          <%end%>
          </div>
      </div>
    <%end%>
  </div>
  <div class="form-group">
    <div class="mt-5 mb-3">
      <%= f.label :title, class: "sr-only" %>
      <%= f.text_field :title,class: "form-control",placeholder: "タスク名" %>
    </div>

    <div class="my-3">
      <%= f.label :content, class: "sr-only" %>
      <%= f.text_area :content, class: "form-control",placeholder: "概要" %>
    </div>

    <div class="text-center my-4">
      <%= f.submit "作成する", method: :post, class: "btn btn-info" %>
      <%= link_to "戻る", tasks_path, class: "btn btn-outline-info" %>
    </div>
  </div>
<%end%>