<div class="title">
  <p class="h6 mt-4 mb-0 text-center"><%=t('show.task')%></p>
  <p class="h3 mb-4 mt-0 text-center"><%=@task.title%></p>
</div>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col text-right">
        <%=link_to t('view.delete'), task_path(@task), method: :delete, data: {confirm: t('view.delete_confirm')}, class:"btn btn-danger"%>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr class="table">
              <th scope="col"><%=t('view.task_title')%></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><%= @task.title %></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr class="table text-center">
              <th scope="col"><%=t('view.task_content')%></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @task.content %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <%=link_to t('view.edit'), edit_task_path(@task), class:"btn btn-info" %>
      <%= link_to t('view.back'), :back, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>