<div class="card bg-light mx-auto mt-5" style="max-width: 800px;">
  <div class="card-body mx-auto" style="min-width: 600px;">
    <h4 class="card-title my-4 text-center"><%= t('view.new_account')%></h4>
      <%=form_with(model: @user, local: true) do |f|%>
        <%= render 'shared/user_error'%>
        <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <%= f.label :name, class:"sr-only"%>
          <%= f.text_field :name, class:"form-control", placeholder: t('view.name')%>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <%= f.label :email, class:"sr-only"%>
        <%= f.email_field :email, class:"form-control", placeholder: t('view.email')%>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <%= f.label :password, class:"sr-only"%>
        <%= f.password_field :password, class:"form-control", placeholder:t('view.password')%>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <%= f.label :password_confirmation, class:"sr-only"%>
          <%= f.password_field :password_confirmation, class:"form-control", placeholder: t('view.password_confirmation')%>
        </div>

        <div class="form-group">
          <%= f.submit t('view.sign_up'), class:"btn btn-info btn-block"%>
        </div>

        <p class="text-center"><%= t('message.existing_account')%><%= link_to t('view.login'), new_session_path %> </p>
      <%end%>
    </div>
  </div>
</div>