<div class="title text-center">
  <p class="h3 my-4">ユーザー一覧</p>
  <%=link_to ' ユーザーを作成', new_admin_user_path, class:"btn btn-outline-info fas fa-plus ml-3" %>
</div>

<div class="mt-5 mb-3">
  <%= paginate @users %>
</div>

<table class="table my-2">
  <thead class="text-center">
    <tr>
      <th scope="col">ユーザー</th>
      <th scope="col">メールアドレス</th>
      <th scope="col" colspan="2">タスク数</th>
      <th scope="col">管理者権限</th>
      <th scope="col">管理</th>
    </tr>
  </thead>
  <% @users.each.with_index(1) do |user, index| %>
    <tbody class="h6">
      <tr class="text-center">
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td class="text-right"><%=user.tasks.count%></td>
        <td>
          <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#demo<%=index%>" aria-expanded="false" aria-controls="demo<%=index%>">リスト</button>
        </td>
        <td class="text-center">
          <div>
            <% if user.admin %>
              <%= link_to "", toggle_admin_admin_user_path(user.id), class:"fas fa-toggle-on card-link h3 text-info"%>
            <% else %>
              <%= link_to "", toggle_admin_admin_user_path(user.id), class:"fas fa-toggle-off card-link h3 text-info"%>
            <% end %>
          </div>
        </td>
        <td>
          <%=link_to "編集", edit_admin_user_path(user), class:"btn btn-info" %>
          <%=link_to "削除", admin_user_path(user), method: :delete, data: {confirm: t('view.delete_confirm')}, class:"btn btn-danger"%>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="collapse" id="demo<%=index%>">
          <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col"><%=t('view.task_title')%></th>
                <th scope="col"><%=t('view.deadline')%></th>
                <th scope="col"><%=t('view.status')%></th>
                <th scope="col"><%=t('view.priority')%></th>
                <th scope="col"><%=t('index.task_management')%></th>
              </tr>
            </thead>
            <% user.tasks.each do |task| %>
              <tbody>
                <tr class="text-center">
                  <td><%=task.title%></td>
                  <td><%=task.deadline.strftime(("%Y年%m月%d日 %H時%M分"))%></td>
                  <td><%=Task.statuses_i18n[task.status]%></td>
                  <td><%=Task.priorities_i18n[task.priority]%></td>
                  <td>
                    <%=link_to t('index.detail'), task_path(task), class:"btn btn-info" %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>